@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Poppins:wght@400;500;700&display=swap');

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, valentine;
}

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Lato', sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}